/* tocas-ui overwrite/extension */
body {
    font-family: Open Sans, Noto Sans TC, PingFang TC, Helvetica, Microsoft JhengHei, '微軟正黑體', Segoe UI, Segoe, Ubuntu, Meiryo, Droid Sans, Arial, sans-serif;
}

.ts-box {
    transition: transform 0.1s linear, box-shadow 0.1s linear;
}

.ts-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 5px 0 #00000024;
}

.ts-box.is-primary {
    color: var(--ts-static-gray-75);
    background-color: var(--ts-primary-500);
}

.ts-menu .is-not-interactive:hover {
    cursor: initial;
    background-color: initial;
}

.ts-content.is-vertically-padded,
.ts-content.is-horizontally-fitted {
    padding-left: 0;
    padding-right: 0;
}

/* custom rules */
html[data-scheme=dark] .ts-icon.is-icons8 {
    /* make dark icons light */
    filter: invert();
}

#nav a,
#nav a:hover {
    text-decoration: none;
}

#logo-title,
#banner-title {
    font-family: 'Comfortaa';
}

#footer-logo > img {
    width: 100px;
    max-width: 100%;
}

#app-row > *,
#member-row > * {
    flex: 1;
}

@media screen and (max-width: 993px) {
    .ts-content.is-dense {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

    .ts-wrap.is-double-stackable > * {
        width: 30%;
    }

    #member-row > * {
        flex: unset;
    }
}

@media screen and (max-width: 768px) {
    .ts-wrap.is-stackable {
        flex-direction: column;
    }

    .ts-wrap.is-double-stackable > * {
        width: 45%;
    }

    #app-row > * {
        flex: unset;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html:not([data-scheme=light]) .ts-icon.is-icons8 {
        filter: invert();
    }
}